<div
  id="contact"
  data-aos="fade-right"
  data-aos-duration="1000"
  data-aos-once="true">
    <h2 class="text-center text-primary title mb-4">Contacto</h2>
    <div class="row info-card rounded py-2">
      <div class="col-md-6 mb-3 mb-md-0">
        <a
          class="btn btn-outline-primary btn-lg btn-block"
          href="mailto:alejandro-hdez115@outlook.com"
          role="button">
            <i class="fas fa-envelope"></i> alejandro-hdez115@outlook.com
        </a>
      </div>
      <div class="col-md-6">
        <a
          class="btn btn-outline-primary btn-lg btn-block"
          href="https://github.com/AlexAzumi"
          role="button"
          target="_blank"
          rel="noopener">
            <i class="fab fa-github"></i> AlexAzumi
        </a>
      </div>
    </div>
</div>
