<div
  id="contact"
  data-aos="fade-right"
  data-aos-duration="1000"
  data-aos-once="true">
    <h2 class="text-center text-primary title mb-4">Contacto</h2>
    <div class="row info-card rounded py-2">
      <div class="col-md-6 mb-3 mb-md-0 mail">
        <a
          class="btn btn-outline-primary btn-lg h-100"
          href="mailto:alejandro-hdez115@outlook.com"
          role="button">
            <fa-icon [icon]="mail" [fixedWidth]="true"></fa-icon> Enviar correo
        </a>
        <div class="email">alejandro-hdez115@outlook.com</div>
      </div>
      <div class="col-md-6">
        <a
          class="btn btn-outline-primary btn-lg btn-block h-100"
          href="https://github.com/AlexAzumi"
          role="button">
            <fa-icon [icon]="github" [fixedWidth]="true"></fa-icon> AlexAzumi
        </a>
      </div>
    </div>
  <!-- Pie de página -->
  <app-footer></app-footer>
</div>
