<nav
  id="navbar"
  class="navbar navbar-expand-md navbar-dark bg-transparent main-navbar py-0 mt-md-4 pb-md-4 sticky-top">
  <div class="navbar-brand d-inline-block d-md-none">
    Portafolio
  </div>
  <button
    class="navbar-toggler my-3"
    type="button"
    data-toggle="collapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menú -->
  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="navbar-nav ml-auto">
      <a
        class="nav-item nav-link py-2 px-md-3 text-center rounded-pill mx-md-1 nav-fade-top-0"
        href="#home"
        (click)="collapseNavbar(); scrollTo('home')">
        Inicio
      </a>
      <a
        class="nav-item nav-link py-2 px-md-3 text-center rounded-pill mx-md-1 nav-fade-top-1"
        href="#about"
        (click)="collapseNavbar(); scrollTo('about')">
        Sobre mí
      </a>
      <a
        class="nav-item nav-link py-2 px-md-3 text-center rounded-pill mx-md-1 nav-fade-top-2"
        href="#projects"
        (click)="collapseNavbar(); scrollTo('projects')">
        Proyectos
      </a>
      <a
        class="nav-item nav-link py-2 px-md-3 text-center rounded-pill mx-md-1 nav-fade-top-3"
        href="#repositories"
        (click)="collapseNavbar(); scrollTo('repositories')">
        Repositorios
      </a>
      <a
        class="nav-item nav-link py-2 px-md-3 text-center rounded-pill mx-md-1 nav-fade-top-4"
        href="#contact"
        (click)="collapseNavbar(); scrollTo('contact')">
        Contacto
      </a>
    </div>
  </div>
</nav>
