<div
  data-aos="fade-right"
  data-aos-duration="1000"
  data-aos-once="true"
  class="mb-5 anchor">
    <a class="target" id="about"></a>
    <h2 class="text-center text-primary title mb-4">Sobre mí</h2>
    <div class="row rounded py-3 align-items-center">
      <div class="col-md-8 text-light description">
        <p class="mb-1">
          Mi nombre es Alejandro Suárez, soy tecnólogo en desarrollo de software
          egresado de CETI plantel Tonalá.<br>
          Actualmente me he interesado mucho con el desarrollo web frontend, pero
          también me fascinan otras tecnologías, como el desarrollo de videojuegos
          y las aplicaciones de escritorio.
        </p>
        <hr>
        <p>Aquí hay un listado de las tecnologías y herramientas que he usado últimamente:</p>
        <div class="row">
          <div class="col">
            <ul>
              <li>Angular</li>
              <li>Bootstrap</li>
              <li>node.js</li>
              <li>SASS & SCSS</li>
              <li>Netlify</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>Unity</li>
              <li>HTML & CSS</li>
              <li>GitHub & GitLab</li>
              <li>Heroku</li>
            </ul>
          </div>
        </div>
        <p class="text-info my-2 text-right">
          Tonalá, Jalisco
        </p>
      </div>
      <div class="col-md-4 order-first mb-2 mb-md-0">
        <img
          class="img-fluid rounded d-block mx-auto"
          src="/assets/images/profile.jpg"
          alt="Foto de Alejandro Suárez">
      </div>
    </div>
</div>
