<div class="py-3 px-3 fade-in-top">
  <div class="row">
    <div class="col-md-8">
        <p class="title text-center text-md-left">Cesar Alejandro Hernández Suárez</p>
        <p class="text-center text-md-left">Tecnólogo en Desarrollo de Software</p>
      </div>
      <div class="col-md-4">
        <img class="img-fluid shadow rounded-circle" src="assets/images/profile.jpg">
      </div>
  </div>
  <hr>
  <p class="title title-sm text-center text-md-left mb-0">Acerca de mí</p>
  <p class="text-justify">
    Muy buenas, mi nombre es Alejandro y desde pequeño he tenido un sueño: ser un programador.
    He conocido a incontables personas que siempre han tenido una idea muy vaga acerca de la carrera
    que estudiarían, pero yo siempre tuve una idea muy clara
    de lo que quería; quería ser una persona que crearía herramientas con el uso de la tecnología que había surgido
    en los últimos años.<br>
    Hace relativamente poco terminé mi bachillerato tecnológico en el Centro de Enseñanza Técnica Industrial plantel
    Tonalá, el cual me dio las bases de este mundo tan facinante que nosotros llamamos programación. El camino fue duro, 
    pero poco a poco, al pasar de los semestres, iba disfrutanto escribir líneas de código mientras escuchaba a mis artistas favoritos.<br>
  </p>
  <hr>
  <p class="title title-sm text-center text-md-left">Información de contacto</p>
  <!-- Enlaces -->
  <div class="text-center">
      <a
      class="btn btn-outline-info web-link d-block d-lg-inline-block mr-0 mr-lg-2 mb-2 mb-lg-0"
      href="mailto:alejandro-hdez115@outlook.com">
        <i class="fas fa-envelope"></i> alejandro-hdez115@outlook.com
      </a>
      <a
      class="btn btn-outline-info web-link d-block d-lg-inline-block"
      href="https://github.com/AlexAzumi">
        <i class="fab fa-github"></i> AlexAzumi
      </a>
  </div>
</div>
