<div
  id="projects"
  data-aos="fade-left"
  data-aos-duration="1000"
  data-aos-once="true">
    <div class="d-flex justify-content-end">
      <h3 class="d-inline-block info-card text-primary mb-0 py-2 px-3 rounded-top title">Proyectos</h3>
    </div>
    <div
      *ngIf="projects"
      class="row info-card rounded p-3 align-items-center">
      <!-- Carta -->
      <div
        *ngFor="let project of projects | reverse"
        class="col-md-6">
        <h3 class="text-info text-center">{{project.title}}</h3>
        <a [attr.href]="project.url ? project.url: null">
          <img
            [src]="project.img"
            class="img-fluid rounded project-img mb-1"
            [alt]="project.title">
        </a>
        <p class="text-light text-center">{{project.description}}</p>
      </div>
    </div>
</div>
