/**
 * Main page component
 */

/* Fonts */

@import 'rfs/scss.scss';

/* Colors */

$navbar-background: #212529;
$navbar-link: #ffffff80;
$primary: #03a9f4;
$white: #ffffff;

/* Fonts */
$general-font: 'Open Sans', sans-serif;
$navbar-font: 'Ubuntu', sans-serif;

/* Styles */

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: $white !important;
  background-attachment: fixed;
  background-color: #212529;
  background-repeat: repeat;
  background: url('/images/bg.png');
  min-height: 100%;
}

.text-primary {
  color: $primary !important;
}

.title {
  font-family: $navbar-font;
}

/**
 * Navbar component styles
 */

.navbar {
  transition: all 250ms;
  &.bg-transparent {
    background-color: transparent !important;
  }

  /* Dark background */
  &.bg-dark:not(.bg-transparent) {
    background-color: $navbar-background !important;
  }

  /* Navbar link */
  .nav-link {
    color: $navbar-link !important;
    font-family: $navbar-font;
    font-size: 1.2em;
    transition: all 250ms;

    &:hover {
      background-color: $primary;
      color: $white !important;
    }

    &.fade-top-0 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        200ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 200ms both;
    }

    &.fade-top-1 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        400ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 400ms both;
    }

    &.fade-top-2 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        600ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 600ms both;
    }

    &.fade-top-3 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        800ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 800ms both;
    }

    &.fade-top-4 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        1000ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1000ms
        both;
    }
  }
}

.fade-in-left {
  animation-name: fade-in-left;
}

/**
 * Home component styles
 */
.home {
  @include margin-bottom(12rem);
  @include margin-top(12rem);

  .name-title {
    @include font-size(6rem);
  }
}

@media (max-width: 768px) {
  .home {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}

/**
 * Projects component
 */
.custom-card {
  background-color: $navbar-background;
  font-weight: 200;

  .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
  }

  .description {
    height: 40px;
  }

  .url {
    display: block;
    text-align: center;
  }
}

/**
 * Repositories component
 */

.custom-card {
  height: 100%;

  &.repository {
    @include padding(1rem);
  }

  .name {
    @include margin-bottom(0.5rem);
    @include font-size(1.4rem);
  }

  .link:hover {
    color: #17a2b8;
  }
}

.custom-pagination {
  .page-item {
    .page-link {
      @include padding-bottom(0.5rem);
      @include padding-left(1rem);
      @include padding-right(1rem);
      @include padding-top(0.5rem);

      color: #ffffff;
      background-color: $navbar-background;
      border: 0;
    }

    &.active .page-link {
      background-color: #17a2b8;
    }
  }
}

@media (min-width: 992px) {
  .custom-card {
    .url {
      background-color: #212529;
      bottom: 10px;
      position: absolute;
      right: 5px;
    }
  }
}

/* Animations */
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
