/**
 * Main page component
 */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Ubuntu:wght@500&display=swap');
@import '../node_modules/rfs/scss.scss';

/* Colors */

$navbar-background: #212529;
$navbar-link: #ffffff80;
$primary: #03a9f4;
$white: #ffffff;

/* Fonts */
$general-font: 'Open Sans', sans-serif;
$navbar-font: 'Ubuntu', sans-serif;

/* Styles */

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: $white !important;
  background-attachment: fixed;
  background-color: #212529;
  background-repeat: repeat;
  background: url('/images/bg.png');
  min-height: 100%;
}

.text-primary {
  color: $primary !important;
}

.title {
  font-family: $navbar-font;
}

/**
 * Navbar component styles
 */

.navbar {
  transition: all 250ms;
  &.bg-transparent {
    background-color: transparent !important;
  }

  /* Dark background */
  &.bg-dark:not(.bg-transparent) {
    background-color: $navbar-background !important;
  }

  /* Navbar link */
  .nav-link {
    color: $navbar-link !important;
    font-family: $navbar-font;
    font-size: 1.2em;
    transition: all 250ms;

    &:hover {
      background-color: $primary;
      color: $white !important;
    }

    &.fade-top-0 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        200ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 200ms both;
    }

    &.fade-top-1 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        400ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 400ms both;
    }

    &.fade-top-2 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        600ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 600ms both;
    }

    &.fade-top-3 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        800ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 800ms both;
    }

    &.fade-top-4 {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        1000ms both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1000ms
        both;
    }
  }
}

/**
 * Home component styles
 */
.home {
  margin-bottom: 12rem;
  margin-top: 12rem;

  .name-title {
    @include font-size(6rem);
  }
}

@media (max-width: 768px) {
  .home {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}

/* Animations */
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
