<div [hidden]="!secretUnlocked" class="secret p-4">
  <!-- Cerrar -->
  <i class="fas fa-times text-info close-secret" (click)="closeGame()"></i>
  <!-- Puntuación -->
  <div class="display-4 text-center text-light">Puntuación</div>
  <div class="display-4 text-center pb-3 text-primary" id="score">0</div>
  <canvas class="d-block mx-auto" id="tetris" width="240" height="400"></canvas>
  <!-- BGM -->
  <audio *ngIf="secretUnlocked" class="w-100" controls="controls" autoplay loop hidden><source src="/assets/secret/bgm.mp3" type="audio/mpeg"/></audio>
</div>
